.DropsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DropsHeader{
    margin-top: 50px;
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 66px;
}

.DropsTitle{
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #303030;
}

.DropsSneakers {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
    grid-gap: 48px;
    grid-row-gap:51.13px;
    width: 90%;
    max-width: 1300px;
    align-items: flex-end;
    margin-bottom: 89.13px;
    overflow-x: auto;
}

.SneakerCartWrapper {
    display: inline-block;
    white-space: normal;
}


@media (max-width:875px) {
    .DropsHeader{
        flex-direction: column;
        gap: 26px;
    }
    .SneakerDiv {
        flex: 1 1 calc(25% - 48px);
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: calc(25% - 48px); /* Add this style */
        }
        
        .DropsSneakers {
        padding: 1em;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        max-width: 1300px;
        align-items: flex-end;
        margin-bottom: 56px;
        gap: 15px;
        }
    
}